@import "../../colors";

.chat-message {
  font-size: 14px;
}

.chat-message > span {
  user-select: unset;
  -webkit-user-select: unset;
  -ms-user-select: unset;
}

.chat-sender {
  color: $color-surface-mixed-a40;
  font-weight: bold;
}