@import "../../colors";

.settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
  overflow: auto;
  max-width: 500px;
  padding: 5px;
}

hr {
  width: 100%;
  color: $color-surface-mixed-a20;
  margin: 20px 0;
}

.settings-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.settings > span,
.settings-section > span {
  font-weight: bold;
  color: $color-surface-mixed-a50
}

.settings-section > button {
  margin-left: auto;
}

.settings > p {
  margin: 0;
  font-weight: bold;
  font-size: 2em;
}