@import "../../colors";

.room {
  display: flex;

  background: $color-surface-mixed-a10;
  width: 100%;
  gap: 10px;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.room-info {
  display: flex;
  flex-direction: column;
  min-width: 0;
  gap: 2px;
}

.room-prefix {
  color: $color-surface-mixed-a40;
  font-size: 11px;
  font-weight: bold;
}

.room-prefix > span {
  color: white;
  margin-left: 5px;
}

.room-join-button {
  margin-left: auto;
  width: auto;
}