@import "../../colors";

.platform-blip {
  font-size: 9px;
  font-weight: bold;
  border-radius: 5px;
  background-color: $color-surface-mixed-a30;
  padding: 2px;
  text-align: center;
  min-width: 50px;
}