@import "../../colors";

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 56px;
  background: $color-surface-mixed-a10;
  padding: 10px 20px;
  border-radius: 5px;
  gap: 10px;
  align-items: center;

  @include small {
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center;
  }
}

header > span {
  margin-right: 2em;
  font-weight: bold;

  @include small {
    display: none;
  }
}

.link {
  color: white;
  text-decoration: none;
  padding: 10px;
  background: $color-surface-mixed-a20;
  border-radius: 5px;
  min-width: 100px;
  text-align: center;
  box-shadow: $box-shadow-generic;
  transition: background 133ms, outline 133ms;
  font-weight: bold;
}

.link:hover {
  background: $color-primary-a20;
}

.link:focus {
  outline: $color-primary-a50 2px solid;
}

.link-active {
  background: $color-primary-a10;
}

.login-link {
  margin-left: auto;
  @include small {
    margin-left: unset;
  }
}