@import "../../colors";

.search-result {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  min-height: 80px;
  max-height: 80px;
  background-color: $color-surface-mixed-a10;
  overflow: hidden;
  border-radius: 5px;
}

.result-names {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  justify-content: center;
}

.result-title {
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-overflow: ellipsis;
  @include small {
    font-size: 13px;
    line-height: 1em;
    max-height: 3em;
    overflow: hidden;
  }
}

.result-artist {
  color: $color-surface-mixed-a50;
  font-weight: bold;
  font-size: 11px;
}

.result-info {
  margin-left: auto;
}

.result-duration {
  font-size: 12px;
  font-weight: bold;
  color: $color-surface-mixed-a50;
}

.search-result > img {
  height: 100%;
  border-radius: 5px;
  aspect-ratio: 16 / 9;
  object-fit: contain;
  background-color: $color-surface-mixed-a0;
  box-shadow: $box-shadow-generic;
  @include small {
    aspect-ratio: 1;
  }
}

.search-result > button {
  white-space: nowrap;
  width: fit-content;
  height: fit-content;
}
