@import "../../colors";

.search {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  padding: 2px;
  height: 100%;
}

.search-bar {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.search-bar > input {
  height: 100%;
  min-width: 100px;
  width: 500px;
  max-width: 500px;

  @include small {
    width: 100%;
  }
}

.search-results {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  overflow: auto;
  min-width: 400px;
  max-width: 900px;
  align-self: center;
  padding-bottom: 20px;
}