@import "../../colors";

#player {
  display: flex;
  flex-direction: column;

  width: 400px;
  background: $color-surface-mixed-a10;
  border-radius: 5px;

  align-items: center;
  gap: 20px;
  padding: 20px 20px;

  @include medium {
    width: 100%;
  }
}

.player-image-box {
  height: 80px;
}

.player-image {
  height: 100%;
  border-radius: 5px;
  aspect-ratio: 16 / 9;
  background-color: $color-surface-mixed-a0;
  object-fit: contain;
}

.player-progress {
  display: flex;
  gap: 5px;
  width: 100%;

  align-items: center;
}

.time {
  font-size: 11px;
  font-weight: bold;
  color: $color-surface-mixed-a50;
}

.title {
  height: fit-content;
  font-size: 20px;
  font-weight: bold;
}

.artist {
  height: fit-content;
}

.player-buttons {
  display: flex;
  gap: 12px;
}

.player-buttons > img {
  display: flex;
  width: 48px;
  height: 48px;
  cursor: pointer;
  filter: invert(1);
}

.player-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.player-song-info {
  width: 100%;
  display: flex;
  gap: 10px;
}
