@import "../../colors";

#player {
  display: flex;
  flex-direction: column;

  width: 400px;
  background: $color-surface-mixed-a10;
  border-radius: 5px;

  align-items: center;
  gap: 20px;
  padding: 20px 20px;
}

.player-image-box {
  padding: 20px;
  width: 100%;
}

.player-image {
  width: 100%;
  border-radius: 5px;
}

.player-progress {
  display: flex;
  gap: 5px;
  width: 100%;

  align-items: center;
  overflow: hidden;
}

.time {
  font-size: 11px;
  font-weight: bold;
  color: $color-surface-mixed-a50;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

