$color-primary-a0: #5b2071;
$color-primary-a10: #6d3980;
$color-primary-a20: #7f508f;
$color-primary-a30: #92689f;
$color-primary-a40: #a480af;
$color-primary-a50: #b698be;

$color-surface-a0: #121212;
$color-surface-a10: #282828;
$color-surface-a20: #3f3f3f;
$color-surface-a30: #575757;
$color-surface-a40: #717171;
$color-surface-a50: #8b8b8b;

$color-surface-mixed-a0: #1a151b;
$color-surface-mixed-a10: #2f2a30;
$color-surface-mixed-a20: #454146;
$color-surface-mixed-a30: #5d595e;
$color-surface-mixed-a40: #767277;
$color-surface-mixed-a50: #908d90;