@import "../../colors";

.queue {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.queue-entries {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: 20px;
  align-items: center;
}