@import "../../colors";

.queue-entry {
  display: flex;
  overflow: hidden;
  align-items: center;

  min-width: 100px;
  min-height: 80px;
  width: 100%;
  height: 80px;
  max-width: 900px;

  padding: 5px 10px;
  gap: 10px;

  background-color: $color-surface-mixed-a10;
  box-shadow: $box-shadow-generic;
  border-radius: 5px;

  @include small {
    flex-direction: column;
    font-size: 14px;
    min-height: 130px;
  }
}

.queue-non-buttons {
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
  gap: 10px;
  align-items: center;
}

.queue-index-image {
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  display: flex;
  height: 100%;
  min-width: 175px;
  @include small {
    min-width: fit-content;
    height: 70px;
  }
}

@keyframes currentAnimation {
  0% {
    background-color: $color-surface-mixed-a10;
  }

  50% {
    background-color: $color-surface-mixed-a20;
  }

  100% {
    background-color: $color-surface-mixed-a10;
  }
}

.queue-current {
  background-color: $color-surface-mixed-a10;
  animation: currentAnimation 3000ms ease-in-out infinite;
}

.queue-index-image > img {
  height: 100%;
  border-radius: 5px;
  aspect-ratio: 16 / 9;
  object-fit: contain;
  background-color: $color-surface-mixed-a0;
  box-shadow: $box-shadow-generic;
  @include small {
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.queue-total-length {
  color: $color-surface-mixed-a50;
  font-weight: bold;
  font-size: 12px;
}

.queue-index,
.queue-title,
.queue-artist {
  color: $color-surface-mixed-a50;
  font-weight: bold;
  max-height: 100%;
}

.queue-item-buttons {
  display: flex;
  gap: 10px;

  @include small {
    width: 100%;
    justify-content: end;
  }
}

.queue-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-right: auto;
}
